/* THE HEIGHT IS TO SIMULATE CONTENT */

/* UTILITIES */
.pic-box {
    max-width: 400px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
}

.pic-box img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.mb-20 {
    margin-bottom: 1.8rem;
}

.mt-20 {
    margin-top: 1.8rem;
}

.pad-top {
    padding-top: 3rem;
}

.bg-dark-blue {
    background: #2C3E50;
}

.bg-white {
    height: 180px;
    background-color: #fff;
}

.bg-white2 {
    /* height: 450px; */
    background-color: #fff;
}

.bg-light-blue {
   background: #1ABC9C;
}

.bg-dark-ocean-blue {
    height: 300px;
    background-color: #3A546D;
}

.colered-dark-blue {
   color: #2C3E50;
}

/* header */
.nav-colored {
    margin-bottom: 0;
    background-color: #2C3E50;
    text-transform: uppercase;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
    color: #fff;
}

/* MAIN */
/* hero */
.container .row .hero-fix {
    max-height: 200px;
}

.container .row .text-white {
    text-transform: uppercase;
    color: #fff;
}

/* star over line */
.star-holder {
    position: relative;
    max-width: 250px;
    margin: 0 auto;
}

.star-over {
    position: absolute;
    padding: 5px;
    left: 50%;
    top: 50%;
    background: #1ABC9C;
    font-size: 3rem;
    transform: translate(-50%, -50%);
}

.hr-fix {
    border-bottom: 3px solid #fff;
    border-radius: 2px;
}

/* ul header */
.hero-li {
    padding-top: 1.7rem;
    padding-left: 0;
    margin-bottom: 30px;
    list-style: none;
}

.hero-li li {
    display: inline-block;
    font-weight: 700;
}

/* PORTAFOGLIO */
.bg-white3 .container .row .bg-white {
    text-align: center;
}

.bg-white3 .container .row .port-header {
    text-transform: uppercase;
    height: 150px;
}

.bg-white3 .container .row .star-over {
    color: #2C3E50;
    background-color: #fff;
}

.bg-white3 .container .row .hr-fix {
    border-color: #2C3E50;
}

/* ABOUT */
.colored-white {
    color: #fff;
}

.new-btn {
    border-color: #fff;
    background-color: transparent;
}

/* CONTACT ME */
.form-fix {
    padding: 0px;
    height: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow:inset 0px 0px 0px;
    border-radius: 0px;
}

.text-uppercase {
    text-transform: uppercase;
}

.colored-dark-blue{
    color: #2C3E50;
    border-color: #2C3E50;
}

.bg-white2 .container .star-holder .star-over {
    background-color: #fff;
}

.new-btn2 {
    color:#fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}