/* UTILITIES */
/* margin e padding  */
.mb-20 {
    margin-bottom: 1.8rem;
}

.mt-20 {
    margin-top: 1.8rem;
}

.pad-top {
    padding-top: 3rem;
}

.pad-bot {
    padding-bottom: 3rem;
}

.boddy-pad {
    padding-top: 60px;;
}

/* fonts-fix */
.font-weight-fix {
    font-weight: 800;
}

.font-size-h1 {
    font-size: 2.7rem;
}

/* background color */
.bg-dark-blue {
    background: #2C3E50;
}

.bg-white {
    background-color: #fff;
}

.bg-white2 {
    background-color: #fff;
}

.bg-light-blue {
   background: #1ABC9C;
}

.bg-dark-ocean-blue {
    background-color: #3A546D;
}

.colered-dark-blue {
   color: #2C3E50;
}

/* header */
.nav-colored {
    margin-bottom: 0;
    background-color: #2C3E50;
    text-transform: uppercase;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.bg-dark-ocean-blue {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #1ABC9C;
}

.navbar-default .navbar-brand:hover {
    color: #1ABC9C;
}

.nav-bar-fixed {
    position: fixed;
    width: 100%;
    z-index: 2;
}

/* MAIN */
/* hero */
.container .row .hero-fix {
    padding-top: 2rem;
    max-height: 250px;
}

.container .row .text-white {
    text-transform: uppercase;
    color: #fff;
}

/* star over line */
.star-holder {
    position: relative;
    max-width: 250px;
    margin: 0 auto;
}

.star-over {
    position: absolute;
    padding: 5px;
    left: 50%;
    top: 50%;
    background: #1ABC9C;
    font-size: 3rem;
    transform: translate(-50%, -50%);
}

.hr-fix {
    border-bottom: 3px solid #fff;
    border-radius: 2px;
}

/* ul header */
.hero-li {
    padding-top: 1.7rem;
    padding-left: 0;
    margin-bottom: 30px;
    list-style: none;
}

.hero-li li {
    display: inline-block;
    font-weight: 700;
}

/* PORTAFOGLIO */
.bg-white3 .container .row .bg-white {
    text-align: center;
}

.bg-white3 .container .row .port-header {
    text-transform: uppercase;
    height: 150px;
}

.bg-white3 .container .row .star-over {
    color: #2C3E50;
    background-color: #fff;
}

.bg-white3 .container .row .hr-fix {
    border-color: #2C3E50;
}

.pic-box {
    position: relative;
    max-width: 400px;
    max-height: 280px;
    margin-left: auto;
    margin-right: auto;
}

.pic-box img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* layover TEST with icon on pic */
.layover-icon {
    position: absolute;
    opacity: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 7;
    font-size: 4rem;
    color: #fff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .3);
    z-index: 2;
}
/* END LAYOVER TEST */

/* ABOUT */
.colored-white {
    color: #fff;
}

.new-btn {
    border-color: #fff;
    background-color: transparent;
}

.change-btn .btn-default:hover {
    color: #1abc9c;
    background-color: #fff;
    border-color: #fff;
}

/* CONTACT ME */
.form-fix {
    padding: 0px;
    height: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow:inset 0px 0px 0px;
    border-radius: 0px;
}

.text-uppercase {
    text-transform: uppercase;
}

.colored-dark-blue{
    color: #2C3E50;
    border-color: #2C3E50;
}

.bg-white2 .container .star-holder .star-over {
    background-color: #fff;
}

.new-btn2 {
    color:#fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.btn-fix2.btn-default:hover {
    color:#fff;
    background-color: #13947a;
    border-color: #13947a;
}

/* AROUND THE WEB footer*/
/* around the web */
.bg-dark-ocean-blue .container .row ul {
    padding-left: 0;
}

.bg-dark-ocean-blue .container .row ul li {
    display: inline-block;
    list-style: none;
}

.btn-new3 {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: 5px;
    line-height: 33px;
    border: 1px solid #fff;
    border-radius: 50%;
}

/* about freelancer */
.span-colored {
    color: #1abc9c;
}

/* MEDIA QUERY */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container .row .hero-fix {
        padding-top: 4rem;
    }

    .font-size-h1 {
        font-size: 3.5rem;
    }

    .font-size-h3 {
        font-size: 2.5rem;
    }

    .hero-li li {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 992px) {
    .container .row .hero-fix {
        padding-top: 4.5rem;
    }

    .font-size-h1 {
        font-size: 4rem;
    }

    .font-size-h3 {
        font-size: 2.5rem;
    }

    .hero-li li {
        font-size: 2rem;
    }

    .font-size-lg-fix {
        font-size: 1.7rem;
    }
}
